.section{
    padding-top: 8px;
    background-color: #ffa500!important;
}
.karachi> img{
    align-items: center;
    margin: 80px;

}
.link{
    padding-top: 150px;
}
.imgs {
    padding-left: 100px;
    padding-top: 30px;
    
}
.img-1 {
    border: transparent;
    padding: 10px;
}